@use "./variables";

.fv {
  height: 100vh;
  min-height: 550px;
  position: relative; // for copy as absolute
  background-image: variables.$firstview_bgi;
  background-size: cover;
  background-position: center;
}

.main-copy {
  position: absolute;
  left: 120px;
  bottom: 177px;
  color: variables.$text-color-white;
  font-weight: bold;
}

.en-copy {
  font-size: 7rem;
  margin-bottom: 31px;
}

.jp-copy {
  font-size: 4rem;
  text-align: center;
}

.small-screenBr {
  display: none;
}

@media (max-width: 768px) {
  .main-copy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // put the copy in the middle
  }

  .en-copy {
    font-size: 9.8vw;
    white-space: nowrap; // remove a break
  }
  .jp-copy {
    font-size: 8vw;
  }

  .small-screenBr {
    display: block;
  }
}
