$main-color: #282f35;
$text-color-black: #171717;
$text-color-white: #fff;
$main-font-familiy: "Noto Serif", "Noto Serif JP", serif;
$link-button-color: #f7d43f;
$firstview_bgi: url(../images/fv-bgi_01@2x.jpg);
$works_bgi: url(../images/works-bgi@2x.jpg);
